{% extends "base.html" %}
{% block titulo %}
	Eliminar
{% endblock titulo %}
{% block contenido %}
<div class="page-header">
		<h4>
			<a href="{% url 'index' %}" class="btn btn-warning">
				<span class="glyphicon glyphicon-chevron-left"></span>Regresar
			</a>
			<strong>Confirma</strong>
		</h4>
	</div>
	<form method="POST">{% csrf_token %}

	<div class="alert alert-danger">
	<span class="glyphicon glyphicon-exclamation-sign"></span>
	  <strong>Cuidado!</strong> Estas seguro de querer eliminar: "<strong>{{ object }}</strong>" ?
	</div>		
		<button type="submit/button" class="btn btn-success pull-right">Estoy seguro<span class="glyphicon glyphicon-chevron-right"></span></button>
	</form>	

{% endblock contenido %}